@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.clearfix::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.links-decoration {
  color: #08c;
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-areas:
    "hero hero hero"
    "featured-product featured-product featured-product"
    "footer footer footer";
  vertical-align: bottom;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  color: rgb(51, 51, 51);
  background-color: #fff;
  padding: 0;
}

.navbar-top {
  top: 145px;
  left: 5px;
  right: 5px;
  position: absolute;
  background-size: cover;
  background-image:
    linear-gradient(
      to bottom,
      rgba(156, 153, 151, 0.5) 50%,
      rgb(119, 110, 110, 1) 2%,
      rgba(156, 153, 151, 0.2) 89%,
      rgba(119, 110, 110, 1) 100%
    ),
    url("../images/menu-bg.png");
  background-color: transparent;
  display: block;
  width: 1300px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.296875) 0 1px 2px;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  font-size: 12px;
  padding: 0;
  height: 36px;
  margin: 0 auto;
  z-index: 9999;
}

.navbar-top ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;
  line-height: 1.4;
  margin: 0;
  zoom: 1;
  height: 36px;
  z-index: 0;
  padding: 0;
}

.navbar-top li {
  height: 36px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.navbar-top a {
  font-size: 14px;
  padding: 5px;
  border-color: #777;
  color: white;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: 24px;
  cursor: pointer;
  height: 36px;
  display: block;
  float: none;
  text-decoration: none;
  width: auto;
  background-image: none;
  background-color: transparent;
  outline: invert none medium;
  border-width: 0 2px 0 1px;
  border-style: solid;
}

.navbar-top i {
  font-size: 25px;
}

.navbar-top form {
  margin: 5px auto;
}

.navbar-top input[type="text"] {
  border-radius: 25px;
  width: 7vw;
  height: 3vh;
  margin-left: 21px;
  background-color: #888;
  border: 1px solid #555;
  text-align: center;
}

.hero i {
  display: inline-block;
  font-size: 30px;
}

.navbar-top form i {
  position: absolute;
  right: 105px;
  top: 10px;
  font-size: 14px;
  color: #fff;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-area: hero;
  color: #fff;
  background: url("../images/heroBg-img.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 600px;
  padding: 0;
}

.hero h1 {
  font-size: 60px;
  margin-top: 160px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 30px;
}

.hero p {
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  line-height: 1.6;
}

.hero h2 {
  font-size: 24px;
  margin-top: 30px;
  font-family: "Manrope", sans-serif;
}

.featured-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: featured-product;
  grid-gap: 0;
  grid-template-rows: repeat(1, 14vw);
  width: 100vw;
  margin: 0;
  padding: 0;
}

.footer {
  grid-area: footer;
  width: 1310px;
  margin: 0 auto;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  padding: 1.5em 0 0;
  color: #6e6e6e;
  font-size: 0.8666em;
  line-height: 1.2;
}

.footer-content-top {
  margin-bottom: 10px;
}

.footer-content-top p {
  float: left;
}

.footer-content-top nav {
  float: right;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
}

.footer-nav li {
  text-align: center;
  margin: 0 3px;
}

.footer-content-bottom {
  display: flex;
  align-content: space-between;
  justify-items: center;
  margin-bottom: 24px;
}

.footer-content-bottom ul {
  display: flex;
  align-content: space-between;
}

.footer-content-bottom li {
  text-align: center;
  margin: 0 3px;
}
