@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

img {
  max-width: 100%;
}

.main {
  display: grid;
  grid-template-areas:
    "hero hero hero"
    "featured-product featured-product featured-product"
    "footer footer footer";
  vertical-align: bottom;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  color: rgb(51, 51, 51);
  background-color: #fff;
  padding: 0;
}

.navbar-top {
  top: 176px;
  left: 5px;
  right: 5px;
  position: absolute;
  background-size: cover;
  background-image: url("../images/menu-bg.png");
  background-color: transparent;
  display: block;
  width: 1300px;
  text-align: center;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.296875) 0 1px 2px;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  font-size: 12px;
  padding: 0;
  height: 36px;
  margin: 0 auto;
}

.navbar-top ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  line-height: 1.4;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.navbar-top a {
  display: block;
  margin-right: 10px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border-right: 1px solid #555;
  padding: 5px;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-area: hero;
  width: 1440px;
  color: #fff;
  min-width: 1140px;
  background: url("../images/heroBg-img.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 630px;
  padding: 0;
}

.hero h1 {
  font-size: 60px;
  margin-top: 160px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 30px;
}

.hero p {
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  line-height: 1.6;
}

.hero h2 {
  font-size: 24px;
  margin-top: 30px;
  font-family: "Manrope", sans-serif;
}

.hero i {
  display: inline-block;
  font-size: 30px;
}

.featured-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-area: featured-product;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

.footer {
  grid-area: footer;
}
